body {
    background-color: black;
    color: white;
    /* background-image: url(../images/collar3.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

h1 {
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

ul {
    text-align: center;
    list-style-type: none;
}


header ul {
    font-size: 18px;
}

.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

p, li {
    font-size: 1.1em;
}

footer {
    display: flex;
    justify-content: center;
}